.section {
    min-height: 100vh;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 150px auto;
    background-color: white;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 15px 20px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 15px 20px;
    word-break: normal;
}

.tg .tg-td2w {
    border-color: inherit;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle
}

.tg .tg-jfoo {
    border-color: inherit;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-uzvj {
    font-size: 20px;
    border-color: inherit;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}